* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff?ibkm4k") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]::before,
[class*=" _icon-"]::before {
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-star:before {
  content: "\e903";
}

._icon-tw:before {
  content: "\e900";
}

._icon-fb:before {
  content: "\e901";
}

._icon-pint:before {
  content: "\e902";
}

html,
body {
  color: #373737;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  background-color: #fff;
}

html._lock,
body._lock {
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1180px;
  margin: 0 auto;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 147.9166666667%;
  letter-spacing: 3.072px;
  color: #252525;
  padding-bottom: 7px;
  position: relative;
}

.title:before {
  content: "";
  display: block;
  width: 45px;
  height: 2px;
  background-color: #252525;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 5;
}

.text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 166.6666666667%;
  letter-spacing: 1.26px;
  color: #5B5858;
}

.link {
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0.64px;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  text-transform: uppercase;
  color: #252525;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.link:hover {
  text-decoration: underline;
}

.intro__content,
.quotes__content {
  min-height: 0;
  position: relative;
}

.intro__content .slick-list,
.quotes__content .slick-list {
  overflow: hidden;
}

.intro__content .slick-track,
.quotes__content .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.quotes__content .slick-arrow {
  position: absolute;
  bottom: 0;
  z-index: 10;
  font-size: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.quotes__content .slick-arrow.slick-prev {
  left: 0%;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
      transform: scaleX(-1);
  -webkit-filter: FlipH;
          filter: FlipH;
  -ms-filter: "FlipH";
  background-image: url("../img/Quotes/arrow.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.quotes__content .slick-arrow.slick-next {
  right: 0%;
  background-image: url("../img/Quotes/arrow.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.intro {
  background-image: -o-linear-gradient(272.14deg, #000000 -41.81%, rgba(0, 0, 0, 0.0001) 82.48%), -o-linear-gradient(87.66deg, #000000 -44.57%, rgba(0, 0, 0, 0.0001) 17.83%), -o-linear-gradient(2.16deg, #000000 8.34%, rgba(0, 0, 0, 0.0001) 71.65%), -o-linear-gradient(right, #000000 -17.62%, rgba(0, 0, 0, 0.0001) 82.37%), url("../img/Intro/IntroBg.jpg");
  background-image: linear-gradient(177.86deg, #000000 -41.81%, rgba(0, 0, 0, 0.0001) 82.48%), linear-gradient(2.34deg, #000000 -44.57%, rgba(0, 0, 0, 0.0001) 17.83%), linear-gradient(87.84deg, #000000 8.34%, rgba(0, 0, 0, 0.0001) 71.65%), linear-gradient(270deg, #000000 -17.62%, rgba(0, 0, 0, 0.0001) 82.37%), url("../img/Intro/IntroBg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  min-height: 400px;
}

.intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

.intro .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.intro .slick-dots li {
  list-style: none;
  margin: 0 10px;
  cursor: pointer;
}

.intro .slick-dots li a {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #fff;
  opacity: 0.437;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  letter-spacing: 1.152px;
}

.intro .slick-dots li.slick-active a {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: 2.304px;
  opacity: 1;
  text-decoration: line-through;
  -webkit-text-decoration-color: #4CAF50;
          text-decoration-color: #4CAF50;
}

.intro__title {
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  text-transform: uppercase;
  line-height: 111.1111111111%;
  text-align: center;
  letter-spacing: 4.608px;
  color: #fff;
  margin-bottom: 25px;
}

.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.28px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header:before {
  opacity: 0;
  content: "";
  height: 20%;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.header.fixed {
  position: fixed;
}

.header.fixed .menu {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1180px;
  margin: 0 auto;
}

.header.fixed .menu__body._active {
  padding-top: 73px;
}

.header.fixed .header__content {
  padding-top: 0;
}

.header.fixed:before {
  content: "";
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #252525;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.header__logo {
  font-style: normal;
  font-weight: bold;
  z-index: 8;
  font-size: 36px;
  line-height: 83.3333333333%;
  letter-spacing: 2.304px;
  color: #fff;
}

.header__content {
  margin: 0 -15px;
  padding-top: 30px;
}

.menu {
  padding: 40px 15px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 5;
}

.menu__body._active {
  right: 0;
}

.menu__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  position: relative;
  padding-bottom: 4px;
  display: block;
  letter-spacing: 1.94px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link._active:after,
.menu__link:hover:after {
  width: 100%;
}

.menu__link:after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #4CAF50;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 5;
}

.icon-menu {
  display: none;
}

.section {
  padding: 150px 0 120px 0;
}

.section--team {
  background-color: #FBFBFB;
}

.about {
  background-image: url("../img/About/AboutBg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 78px 0;
}

.about__title {
  margin-bottom: 30px;
}

.about__title h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: 2.304px;
  color: #333333;
}

.about__title h2 {
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  line-height: 42px;
  letter-spacing: 2.688px;
  color: #504E4E;
  margin-top: 19px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about__item:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about__item:first-child {
  margin-bottom: 110px;
}

.about__text {
  max-width: 310px;
  position: relative;
  padding-left: 28px;
}

.about__text:before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: #353535;
  position: absolute;
  top: 14px;
  left: 0px;
  z-index: 5;
}

.services__item-title {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  color: #252525;
  position: relative;
  padding-bottom: 15px;
}

.services__item-title:before {
  content: "";
  display: block;
  width: 35px;
  height: 2px;
  background-color: #252525;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 5;
}

.services__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 28px;
}

.services__item {
  padding: 53px 48px 35px 44px;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.services__item:hover {
  border-bottom: 3px solid #70BF73;
}

.services__item:hover .services__link {
  opacity: 1;
}

.services__item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__text {
  font-size: 12px;
  line-height: 208%;
  letter-spacing: 1.008px;
  margin-bottom: 19px;
  color: #777777;
}

.works {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.works__title {
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 147.9166666667%;
  letter-spacing: 3.072px;
  position: absolute;
  z-index: 7;
  bottom: 34px;
  right: 8px;
}

.works__title--line-through {
  text-decoration: line-through;
  -webkit-text-decoration-color: #70BF73;
          text-decoration-color: #70BF73;
}

.works__column--right {
  position: relative;
}

.works__column--right .works__info {
  margin-left: 123px;
}

.works__column--right .works__image {
  text-align: right;
}

.works__column--right .works__title {
  right: inherit;
  left: 8px;
  text-align: left;
}

.works__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.works__link {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.832px;
  cursor: pointer;
  color: #252525;
  mix-blend-mode: normal;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  font-family: "Open Sans", sans-serif;
  margin-right: 42px;
}

.works__link:last-child {
  margin-right: 0;
}

.works__link._active,
.works__link:hover {
  opacity: 1;
}

.works__item {
  margin-top: 135px;
  display: block;
}

.works__item.hide {
  display: none;
}

.works__image {
  position: relative;
}

.works__info {
  margin-left: 175px;
}

.works__item-title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1.152px;
  font-family: "Open Sans", sans-serif;
  color: #252525;
  margin: 30px 0 20px 0;
}

.works__text {
  font-size: 13px;
  line-height: 176.9230769231%;
  letter-spacing: 0.832px;
  max-width: 355px;
  color: #C2C2C2;
}

.works__link-view-more {
  font-size: 13px;
  line-height: 146.1538461538%;
  text-align: right;
  letter-spacing: 2px;
  position: absolute;
  bottom: -20px;
  right: 0;
  z-index: 8;
  opacity: 1;
  text-transform: lowercase;
  display: none;
}

.works__link-view-more._active {
  display: block;
}

.team__content {
  margin-top: 71px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 28px;
}

.team__item {
  position: relative;
}

.team__item:hover .team__title {
  padding-bottom: 9px;
  padding-top: 17px;
  position: relative;
}

.team__item:hover .team__title:after {
  width: 45px;
  height: 2px;
}

.team__item:hover .team__info-additional {
  opacity: 1;
  font-size: 100%;
}

.team__item:hover .team__job {
  font-size: 18px;
  padding: 6px 0 12px 0;
}

.team__item:hover .team__text {
  font-size: 12px;
  padding-bottom: 23px;
}

.team__item:hover .team__info {
  background-color: rgba(255, 255, 255, 0.92);
}

.team__image img {
  width: 100%;
  height: auto;
}

.team__title {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 1.152px;
  text-align: center;
}

.team__title:after {
  content: "";
  width: 0px;
  background-color: #252525;
  position: absolute;
  bottom: 0px;
  z-index: 5;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width 0.5s ease 0s;
  -o-transition: width 0.5s ease 0s;
  transition: width 0.5s ease 0s;
}

.team__info {
  width: 100%;
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  padding: 13px 0;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background-color: rgba(255, 255, 255, 0.5);
  mix-blend-mode: normal;
}

.team__info-additional {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  text-align: center;
  font-size: 0;
}

.team__job {
  font-style: normal;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 300;
  font-size: 0px;
  line-height: 150%;
  letter-spacing: 1.152px;
}

.team__text {
  color: #777777;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 0px;
}

.quotes__text {
  max-width: 735px;
  font-size: 14px;
  line-height: 221%;
  text-align: center;
  letter-spacing: 0.896px;
  color: #373737;
  margin: 0 auto;
  margin-bottom: 30px;
}

.quotes__image {
  text-align: center;
}

.quotes__title {
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #373737;
  letter-spacing: 1.152px;
  margin-top: 29px;
  margin-bottom: 25px;
}

.quotes__title span {
  letter-spacing: 0.896px;
  text-transform: none;
  font-size: 14px;
  color: #B8B8B8;
}

.quotes__stars {
  text-align: center;
  margin-bottom: 30px;
}

.quotes__stars i {
  font-size: 15px;
  color: #373737;
  margin-right: 5px;
  opacity: 0.2;
}

.quotes__stars i._active {
  opacity: 1;
}

.quotes__stars i:last-child {
  margin-right: 0;
}

.workTogether {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.workTogether__column {
  background: #FBFBFB;
  color: #373737;
  padding-top: 69px;
  padding-bottom: 100px;
}

.workTogether__column--contact {
  background: #70BD59;
  color: #fff;
}

.workTogether__column--contact .workTogether__text {
  color: #fff;
}

.workTogether__title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 2.66667px;
  margin-top: 19px;
  margin-bottom: 27px;
}

.workTogether__text {
  font-size: 14px;
  line-height: 14px;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.footer {
  text-align: center;
  background: #2E2E2E;
}

.footer__social {
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social .social__item {
  color: #969696;
  font-size: 17px;
  margin-right: 21px;
  line-height: 32px;
  width: 32px;
  height: 32px;
  display: block;
  border: 1px solid #969696;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.footer__social .social__item:hover {
  background-color: #fff;
}

.footer__social .social__item:last-child {
  margin-right: 0;
}

.footer__top {
  padding: 88px 0 75px;
  text-align: center;
}

.footer__bottom {
  background: #252525;
  padding: 20px 0;
}

.footer__logo {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62.5%;
  letter-spacing: 3.072px;
  margin-bottom: 30px;
  color: #fff;
}

.footer__address,
.footer__contact,
.footer__copyright {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 146.1538461538%;
  letter-spacing: 0.832px;
  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.footer__address {
  margin-bottom: 10px;
}

@media (min-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__list li {
    margin-right: 50px;
  }

  .menu__list li:last-child {
    margin-right: 0;
  }
}

@media (min-width: 991.98px) {
  .works__column--right .works__item:first-child {
    margin-top: 0;
  }
}

@media (max-width: 1300px) {
  .quotes__content .slick-arrow.slick-prev {
    left: 2%;
  }

  .quotes__content .slick-arrow.slick-next {
    right: 2%;
  }
}

@media (max-width: 1192px) {
  ._container {
    max-width: 950px;
  }

  .title {
    font-size: calc(22px + 26 * ((100vw - 320px) / 860));
  }

  .text {
    font-size: calc(13px + 2 * ((100vw - 320px) / 860));
  }

  .link {
    font-size: calc(8px + 2 * ((100vw - 320px) / 860));
  }

  .intro__title {
    font-size: calc(30px + 30 * ((100vw - 320px) / 860));
  }

  .intro__title {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 860));
  }

  .intro__text {
    font-size: calc(14px + 6 * ((100vw - 320px) / 860));
  }

  .header.fixed .menu {
    max-width: 950px;
  }

  .header__content {
    padding-top: calc(10px + 10 * ((100vw - 320px) / 860));
  }

  .menu {
    padding-top: calc(15px + 15 * ((100vw - 320px) / 860));
  }

  .section {
    padding-top: calc(40px + 80 * ((100vw - 320px) / 860));
  }

  .section {
    padding-bottom: calc(40px + 60 * ((100vw - 320px) / 860));
  }

  .about {
    padding-top: calc(10px + 68 * ((100vw - 320px) / 860));
  }

  .about {
    padding-bottom: calc(10px + 68 * ((100vw - 320px) / 860));
  }

  .about {
    background-size: 60%;
  }

  .about__title {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 860));
  }

  .about__title h3 {
    line-height: calc(30px + 18 * ((100vw - 320px) / 860));
  }

  .about__title h3 {
    font-size: calc(24px + 12 * ((100vw - 320px) / 860));
  }

  .about__title h2 {
    font-size: calc(28px + 14 * ((100vw - 320px) / 860));
  }

  .about__title h2 {
    line-height: calc(32px + 6 * ((100vw - 320px) / 860));
  }

  .about__title h2 {
    margin-top: calc(8px + 11 * ((100vw - 320px) / 860));
  }

  .about__item:first-child {
    margin-bottom: calc(30px + 50 * ((100vw - 320px) / 860));
  }

  .services__item-title {
    font-size: calc(15px + 5 * ((100vw - 320px) / 860));
  }

  .services__content {
    grid-gap: calc(10px + 15 * ((100vw - 320px) / 860));
  }

  .services__item {
    padding-top: calc(12px + 28 * ((100vw - 320px) / 860));
  }

  .services__item {
    padding-right: calc(12px + 26 * ((100vw - 320px) / 860));
  }

  .services__item {
    padding-bottom: calc(10px + 25 * ((100vw - 320px) / 860));
  }

  .services__item {
    padding-left: calc(12px + 23 * ((100vw - 320px) / 860));
  }

  .works__title {
    font-size: calc(28px + 14 * ((100vw - 320px) / 860));
  }

  .works__column--right .works__info {
    margin-left: calc(20px + 90 * ((100vw - 320px) / 860));
  }

  .works__sort {
    margin-top: calc(18px + 24 * ((100vw - 320px) / 860));
  }

  .works__item {
    margin-top: calc(40px + 80 * ((100vw - 320px) / 860));
  }

  .works__info {
    margin-left: calc(25px + 125 * ((100vw - 320px) / 860));
  }

  .works__item-title {
    font-size: calc(12px + 6 * ((100vw - 320px) / 860));
  }

  .works__item-title {
    margin-top: calc(14px + 12 * ((100vw - 320px) / 860));
  }

  .works__item-title {
    margin-bottom: calc(10px + 8 * ((100vw - 320px) / 860));
  }

  .works__link-view-more {
    font-size: calc(11px + 2 * ((100vw - 320px) / 860));
  }

  .works__link-view-more {
    bottom: calc(0px + -15 * ((100vw - 320px) / 860));
  }

  .team__content {
    margin-top: calc(30px + 32 * ((100vw - 320px) / 860));
  }

  .team__content {
    grid-gap: calc(10px + 18 * ((100vw - 320px) / 860));
  }

  .team__item:hover .team__title {
    padding-top: calc(10px + 5 * ((100vw - 320px) / 860));
  }

  .team__item:hover .team__title {
    padding-bottom: calc(5px + 3 * ((100vw - 320px) / 860));
  }

  .team__item:hover .team__job {
    font-size: calc(12px + 6 * ((100vw - 320px) / 860));
  }

  .team__item:hover .team__text {
    font-size: calc(10px + 2 * ((100vw - 320px) / 860));
  }

  .team__item:hover .team__text {
    padding-bottom: calc(15px + 8 * ((100vw - 320px) / 860));
  }

  .team__title {
    font-size: calc(14px + 4 * ((100vw - 320px) / 860));
  }

  .team__info {
    padding-top: calc(5px + 6 * ((100vw - 320px) / 860));
  }

  .team__info {
    padding-bottom: calc(5px + 6 * ((100vw - 320px) / 860));
  }

  .team__text {
    font-size: 0;
  }

  .quotes__text {
    font-size: calc(12px + 2 * ((100vw - 320px) / 860));
  }

  .quotes__text {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 860));
  }

  .quotes__title {
    font-size: calc(12px + 6 * ((100vw - 320px) / 860));
  }

  .quotes__title {
    margin-top: calc(14px + 15 * ((100vw - 320px) / 860));
  }

  .quotes__title {
    margin-bottom: calc(12px + 13 * ((100vw - 320px) / 860));
  }

  .quotes__title span {
    font-size: calc(10px + 4 * ((100vw - 320px) / 860));
  }

  .quotes__stars {
    margin-bottom: calc(12px + 18 * ((100vw - 320px) / 860));
  }

  .workTogether__column {
    padding-top: calc(25px + 44 * ((100vw - 320px) / 860));
  }

  .workTogether__column {
    padding-bottom: calc(35px + 65 * ((100vw - 320px) / 860));
  }

  .workTogether__title {
    font-size: calc(14px + 10 * ((100vw - 320px) / 860));
  }

  .workTogether__title {
    margin-top: calc(10px + 9 * ((100vw - 320px) / 860));
  }

  .workTogether__title {
    margin-bottom: calc(13px + 14 * ((100vw - 320px) / 860));
  }

  .workTogether__text {
    font-size: calc(11px + 2 * ((100vw - 320px) / 860));
  }

  .footer__social {
    margin-top: calc(18px + 17 * ((100vw - 320px) / 860));
  }

  .footer__social .social__item {
    font-size: calc(13px + 5 * ((100vw - 320px) / 860));
  }

  .footer__social .social__item {
    margin-right: calc(10px + 10 * ((100vw - 320px) / 860));
  }

  .footer__social .social__item {
    line-height: calc(22px + 10 * ((100vw - 320px) / 860));
  }

  .footer__social .social__item {
    width: calc(22px + 10 * ((100vw - 320px) / 860));
  }

  .footer__social .social__item {
    height: calc(22px + 10 * ((100vw - 320px) / 860));
  }

  .footer__top {
    padding-top: calc(25px + 57 * ((100vw - 320px) / 860));
  }

  .footer__top {
    padding-bottom: calc(25px + 57 * ((100vw - 320px) / 860));
  }

  .footer__bottom {
    padding-top: calc(10px + 8 * ((100vw - 320px) / 860));
  }

  .footer__bottom {
    padding-bottom: calc(10px + 8 * ((100vw - 320px) / 860));
  }

  .footer__logo {
    font-size: calc(24px + 24 * ((100vw - 320px) / 860));
  }

  .footer__logo {
    margin-bottom: calc(16px + 12 * ((100vw - 320px) / 860));
  }

  .footer__address,
  .footer__contact,
  .footer__copyright {
    font-size: calc(10px + 3 * ((100vw - 320px) / 860));
  }

  .footer__address {
    margin-bottom: calc(5px + 3 * ((100vw - 320px) / 860));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: none;
    padding: 0 25px;
  }

  .header.fixed .menu {
    max-width: none;
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .works {
    grid-template-columns: 1fr;
  }

  .works__column {
    justify-self: left;
  }

  .works__column--right {
    justify-self: right;
  }
}

@media (max-width: 767.98px) {
  .page .header-fixed {
    padding-top: 50px;
  }

  ._container {
    padding: 0 10px;
  }

  .header.fixed .menu {
    padding-right: 20px;
    padding-left: 20px;
  }

  .header__logo {
    font-size: 28px;
  }

  .header__logo {
    margin-left: 15px;
  }

  .menu__body {
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    overflow: auto;
    padding: 70px 10px 30px 10px;
    background-color: #252525;
    z-index: 3;
  }

  .menu__list li {
    margin: 0 0 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list li:last-child {
    margin-bottom: 0;
  }

  .menu__link:after {
    width: 22px;
  }

  .menu__link {
    font-size: 30px;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
  }

  .icon-menu {
    display: block;
    margin-right: 15px;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .services__content {
    grid-template-columns: 1fr;
  }

  .services__item {
    padding-top: 0;
    padding-bottom: 0;
  }

  .works__sort {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .works__link {
    margin-right: 0px;
    margin-bottom: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .workTogether__column {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767.98px) and (max-width: 1192px) {
  .menu {
    padding-bottom: calc(25px + 25 * ((100vw - 320px) / 860));
  }

  .services__item:first-child {
    padding-top: calc(20px + 20 * ((100vw - 320px) / 860));
  }
}

@media (max-width: 767.98px) and (max-width: 320px) {
  .menu__body {
    padding-top: 73px;
  }
}

@media (max-width: 479.98px) {
  .menu__link {
    font-size: 24px;
    padding-bottom: 6px;
  }

  .section--team {
    padding-top: 70px;
  }

  .about {
    background-image: none !important;
  }

  .about__item:last-child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .works__link {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
  }

  .works__link:last-child {
    margin-bottom: 0;
  }

  .works__image img {
    width: 100%;
    height: auto;
  }

  .works__link-view-more {
    bottom: -70px;
  }

  .team__content {
    grid-template-columns: 1fr;
  }

  .team__image {
    margin: 0 20px;
  }

  .workTogether__column {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 320px) {
  .header.fixed .menu__body._active {
    padding-top: 60px;
  }
}

@media (max-width: 767.98px) and (min-width: 320px) {
  .header.fixed .menu__body._active {
    padding-top: calc(60px + 13 * ((100vw - 320px) / 447.98));
  }
}

@media (max-width: 1192px) and (min-width: 767.98px) {
  .header__logo {
    font-size: calc(28px + 8 * ((100vw - 767.98px) / 424.02));
  }
}

@media (max-width: 767.98px) and (max-width: 767.98px) and (min-width: 320px) {
  .menu__body {
    padding-top: calc(73px + 26 * ((100vw - 320px) / 447.98));
  }
}

@media (max-width: 1192px) and (min-width: 991.98px) {
  .works__sort {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .works__link {
    margin-right: 0px;
    margin-bottom: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}
@supports (-webkit-appearance:none){
.quotes__content .slick-arrow.slick-prev{background-image:url("../img/Quotes/arrow.webp")}
.quotes__content .slick-arrow.slick-next{background-image:url("../img/Quotes/arrow.webp")}
.intro{background-image:-o-linear-gradient(272.14deg, #000000 -41.81%, rgba(0, 0, 0, 0.0001) 82.48%), -o-linear-gradient(87.66deg, #000000 -44.57%, rgba(0, 0, 0, 0.0001) 17.83%), -o-linear-gradient(2.16deg, #000000 8.34%, rgba(0, 0, 0, 0.0001) 71.65%), -o-linear-gradient(right, #000000 -17.62%, rgba(0, 0, 0, 0.0001) 82.37%), url("../img/Intro/IntroBg.webp")}
.intro{background-image:linear-gradient(177.86deg, #000000 -41.81%, rgba(0, 0, 0, 0.0001) 82.48%), linear-gradient(2.34deg, #000000 -44.57%, rgba(0, 0, 0, 0.0001) 17.83%), linear-gradient(87.84deg, #000000 8.34%, rgba(0, 0, 0, 0.0001) 71.65%), linear-gradient(270deg, #000000 -17.62%, rgba(0, 0, 0, 0.0001) 82.37%), url("../img/Intro/IntroBg.webp")}
.about{background-image:url("../img/About/AboutBg.webp")}
}

 @media (min-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1300px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1192px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px) and (max-width: 1192px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px) and (max-width: 320px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 479.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 320px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px) and (min-width: 320px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1192px) and (min-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px) and (max-width: 767.98px) and (min-width: 320px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1192px) and (min-width: 991.98px){

@supports (-webkit-appearance:none){

}

}
